doctype html
html
  head
    meta(charset="utf-8")
    title Welcome To Parallax
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/index.css")
    link(rel="stylesheet", href="css/normalize.css")
  body
  
    section.banner
      .wrapper
        header
          p.logo Parallax
          nav
            a.link(href="#") Home
            a.link(href="#") About
            a.link(href="#") Works
            a.link(href="#") Contact
          
          .content
            h1.title I am a Web Developer
            h2.sub_title Lorem ipsum dolor sit amet, consectetur adipi.
            
            .button_wrapper
              a.button.button_highlight(href="#") Learn more
    
      
  script(href="../js/jquery-2.2.3.js")
  script(href="../js/function.js")
  
